@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&family=Young+Serif&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    font-family:'Poppins', sans-serif;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

.heading{
    font-size: 32px;
    text-align:center;
    font-weight: bold;
    margin: 32px 0;
    font-family: 'Young Serif';
}

.buttons {
    text-align: center;
    margin: 16px 8px;
    padding: 0 4px;
    font-size: 16px;
    height: 80px;
    width: 80px;
    border-radius: 50%;
    border: 1px solid black;
    transition: all 300ms ease;
    font-weight: 600;
}

.buttons:hover {
    color: white;
    background-color: black;
}

/* Header Section */
.header {
    color: black;
    font-size: 24px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 32px;
    margin-bottom: 185px;
}

.links {
    display: flex;
    gap: 32px;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    text-decoration: underline;
    color: grey;
    text-underline-offset: 12px;
}

.name {
    font-size: 32px;
    font-family: 'Young Serif';
    cursor: default;
}

/* About */
#about {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 144px;
}

.about_container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 128px;
}

.about_text {
    text-align: center;
}

.about-buttons {
    display: flex;
    justify-content: center;
    gap: 8px;
}

/* Experience */

#experience {
    display: flex;
    flex-direction: column;
    margin-bottom: 96px;
}

.experience_container {
    display: flex;
    justify-content: center;
    gap: 32px;
}

.placeholder {
    display: flex;
    flex-direction: column;
    gap: 32px;
    border: 1px solid grey;
    border-radius: 32px;
    padding: 32px;
    color: rgb(85, 85, 85);
}

.list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.list-items {
    display: flex;
    align-items: flex-start;
    padding: 16px;
    font-weight: bold;
    width: 180px;
}

.experience_text {
    padding: 0px 16px;
}

/* Projects */
#projects{
    display: flex;
    flex-direction: column;
    margin-bottom: 96px;
}

.project-containers{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 32px;
    flex-wrap: wrap;
}

.project-content {
    border: 1px solid black;
    border-radius: 32px;
    padding: 32px;
    margin: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
}

.project-img {
    border-radius: 32px;
}

/* Contact */
#contact {
    display: flex;
    flex-direction: column;
    padding: 32px;
}

.contact-container {
    border: 1px solid black;
    border-radius: 32px;
    padding: 32px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.contact-contents {
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4px;
}